/* Base style */
* {
	box-sizing: border-box;
}

h1 {
	margin-bottom: 15px;
	text-align: center;
}

#container {
	border: 3px solid black;
	width: auto;
	height: auto;
	margin-right: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	font-family: Verdana, Arial, Tahoma, Serif;
}
section{
	width: auto;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 2px 10px 2px 10px;
	clear: right;
	color: black;
}
#title1{
	width: 100px;
	text-align: center;
	background-color: #FCA5F3;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	color: black;
	float: right;
}
#title2{
	width: 100px;
	background-color: #F22035;
	text-align: center;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	float: right;
}
#title3{
	width: 100px;
	text-align: center;
	background-color: #E9F38A;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	color: black;
	float: right;
}


/* Simple responsive Framework */
/*.row {

}*/

/* Large devices (>= 992px) */
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
		position: relative;
	}
	.col-lg-1 {
    width: 8.33%;
	}
	.col-lg-2 {
	width: 16.66%;
	}
	.col-lg-3 {
	width: 25%;
	}
	.col-lg-4 {
	width: 33.33%;
	}
	.col-lg-5 {
	width: 41.66%;
	}
	.col-lg-6 {
	width: 50%;
	}
	.col-lg-7 {
	width: 58.33%;
	}
	.col-lg-8 {
	width: 66.66%;
	}
	.col-lg-9 {
	width: 74.99%;
	}
	.col-lg-10 {
	width: 83.33%;
	}
	.col-lg-11 {
	width: 91.66%;
	}
	.col-lg-12 {
	width: 100%;
	}
}


/* Media devices (>=768px && <992px) */
@media (min-width: 768px) and (max-width: 991px){
	.col-mg-1, .col-mg-2, .col-mg-3, .col-mg-4, .col-mg-5, .col-mg-6, .col-mg-7, .col-mg-8, .col-mg-9, .col-mg-10, .col-mg-11, .col-mg-12{
		float: left;
		position: relative;
	}
	.col-mg-1 {
    width: 8.33%;
	}
	.col-mg-2 {
	width: 16.66%;
	}
	.col-mg-3 {
	width: 25%;
	}
	.col-mg-4 {
	width: 33.33%;
	}
	.col-mg-5 {
	width: 41.66%;
	}
	.col-mg-6 {
	width: 50%;
	}
	.col-mg-7 {
	width: 58.33%;
	}
	.col-mg-8 {
	width: 66.66%;
	}
	.col-mg-9 {
	width: 74.99%;
	}
	.col-mg-10 {
	width: 83.33%;
	}
	.col-mg-11 {
	width: 91.66%;
	}
	.col-mg-12 {
	width: 100%;
	}
}